<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/dashboard.css">
</head>

<body class="bg-ctp-base min-h-screen ">
    <div id="container">
        <header class="sticky top-0 z-50 bg-ctp-mantle/80 backdrop-blur-md border-b border-white/5">
            <nav class="max-w-5xl mx-auto flex items-center justify-between px-6 py-4">

                <!-- Logo / Title -->
                <h2 class="text-xl font-semibold tracking-tight text-ctp-peach">
                    My Blog
                </h2>

                <!-- Actions -->
                <div class="flex items-center gap-4">

                    <a href="/admin/create" class="px-4 py-1.5 rounded-lg bg-ctp-peach/10 text-ctp-peach text-xl
               hover:bg-ctp-peach hover:text-black 
               transition-all duration-200 cursor-pointer">
                        Create
                    </a>

                    <button id="logout" class="px-4 py-1.5 rounded-lg border border-white/10 text-white/80 text-xl
               hover:text-red-400 hover:border-red-400
               transition-all duration-200 cursor-pointer">
                        Logout
                    </button>

                </div>
            </nav>
        </header>

        <main class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 mt-30 px-4 sm:px-6 lg:px-10 pb-15" id="posts">

        </main>
    </div>
    <script type="module" src="/js/dashboard.js"></script>
</body>

</html>