<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="bg-ctp-base min-h-screen">
    <div id="container">
        <header class="bg-ctp-mantle text-white sticky top-0 z-10">
            <nav class="flex max-w-4xl mx-auto justify-between items-center px-7 py-4 ">
                <h2>My Blog</h2>
                <a href="#">Create Post</a>
                <a href="#">Logout</a>
            </nav>
        </header>

        <main class="grid grid-cols-3 gap-4 mt-30" id="posts">

        </main>
    </div>
    <script type="module" src="/js/dashboard.js"></script>
</body>
</html>