<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/edit.css"/>
    <script src="https://unpkg.com/lucide@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/dompurify@3.0.6/dist/purify.min.js"></script>
</head>
<body class=" bg-ctp-accent pt-16">

    <main id="container " class="max-w-4xl min-h-screen mx-auto px-4 sm:px-6 lg:px-8">
        <h1 class="text-5xl text-white  underline underline-offset-2 decoration-2 ">Edit Post</h1>
        <a href="/admin/dashboard" id="backToBlog" class="flex gap-1 my-5 text-ctp-green hover:text-white group  w-fit"  >
            <i data-lucide="arrow-left" class="group-hover:-translate-x-1 transition-transform duration-200 ease-out"></i>
            <p>back to dashboard</p>
        </a>

        <div class="mb-2">
            <h2 class="text-white text-2xl">Reading Time</h2>
            <input id="ttr" type="number" max="60" min="1" class="bg-blue-400">
        </div>

        <div id="title">
            <h2 class="text-white text-2xl">Title</h2>
            <textarea rows="2" cols="100" id="title-content" class="bg-blue-400 w-full"></textarea>
        </div>
        <div id="excerpt">
            <h2 class="text-white text-2xl">Excerpt</h2>
            <textarea rows="4" cols="100"  id="excerpt-content" class="bg-blue-400 w-full"></textarea>
        </div>
        
        <div id="categories-section" class=" my-4 flex flex-col">
            <h2 class="pl-2 text-white text-2xl">Categories</h2>
            <div id="categories" class=" flex gap-2 mt-2"></div>
            <div id="tag-control" class="mt-4 flex gap-2">
                <input type="text" id="tag-input" class=" bg-blue-400 min-w-0 flex-1">
               <button id="add-tag" class=" hover:scale-105 px-4 py-1.5 bg-ctp-green text-ctp-base font-medium rounded-lg cursor-pointer hover:brightness-110 transition-all duration-200 ease-out">
                    Add
                </button>
                <span id="add-error"></span>
            </div>
        </div>

        <label class="flex items-center cursor-pointer relative pb-2">
            <!-- hidden checkbox (state) -->
            <input id="statusToggle" type="checkbox" class="sr-only peer">

            <!-- track -->
            <div class="w-12 h-6 bg-gray-300 rounded-full peer-checked:bg-ctp-green transition-colors"></div>

            <!-- knob -->
            <div class="absolute w-5 h-5 bg-white rounded-full shadow transform transition-transform
                        translate-x-1 peer-checked:translate-x-6">
            </div>

            <!-- label -->
            <span class="ml-3 text-sm font-medium">
                <span id="statusLabel">Status: </span>
            </span>
        </label>

        <hr class="text-white">

        <div id="editorjs" class="max-w-full prose pt-10 "></div>

        <div id="btn-container" class="flex">
            
            <!-- Save button -->
            <button id="save-btn" class="flex items-center gap-2 mx-auto my-8 px-8 py-3 bg-ctp-green text-ctp-base font-semibold rounded-lg cursor-pointer hover:scale-110  hover:brightness-110 active:scale-95 transition-all duration-200 ease-out">
            <i data-lucide="save" class="w-4 h-4"></i>
            Save Post
            </button>
            
            <!-- delete button -->
            <button id="delete-btn" class="flex items-center gap-2 mx-auto my-8 px-8 py-3 bg-ctp-red text-ctp-base font-semibold rounded-lg cursor-pointer hover:scale-110  hover:brightness-110 active:scale-95 transition-all duration-200 ease-out">
            <i data-lucide="save" class="w-4 h-4"></i>
            Delete Post
            </button>
        </div>

        <div id="save-status" class="flex justify-center pb-10">

        </div>
    </main>
    


    <script type="module" src="/js/edit.bundle.js"></script>

</body>
</html>