<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://unpkg.com/lucide@latest"></script>
</head>
<body class=" bg-ctp-accent pt-16">

    <main id="container " class="max-w-4xl min-h-screen  mx-auto ">
        <h1 class="text-5xl text-white">Edit Post</h1>
        <a href="/admin/dashboard" id="backToBlog" class="flex gap-1 my-5 text-ctp-peach hover:text-white group "  >
            <i data-lucide="arrow-left" class="group-hover:-translate-x-1 transition-transform duration-200 ease-out"></i>
            <p>back to blog</p>
        </a>

        <div id="title">
            <h2>Title</h2>
            <textarea rows="2" cols="100" id="title-content" class="bg-blue-400 "></textarea>
        </div>
        <div id="excerpt">
            <h2>Excerpt</h2>
            <textarea rows="4" cols="100"  id="excerpt-content" class="bg-blue-400"></textarea>
        </div>
        <div id="categories" class="flex gap-4 my-10">
            <h2>Categories</h2>
            <textarea rows="4" cols="50"  id="categories-content" class="bg-blue-400"></textarea>
        </div>

        <label class="flex items-center cursor-pointer relative pb-2">
            <!-- hidden checkbox (state) -->
            <input id="statusToggle" type="checkbox" class="sr-only peer">

            <!-- track -->
            <div class="w-12 h-6 bg-gray-300 rounded-full peer-checked:bg-green-500 transition-colors"></div>

            <!-- knob -->
            <div class="absolute w-5 h-5 bg-white rounded-full shadow transform transition-transform
                        translate-x-1 peer-checked:translate-x-6">
            </div>

            <!-- label -->
            <span class="ml-3 text-sm font-medium">
                <span id="statusLabel">Status: </span>
            </span>
        </label>

        <hr class="text-white">

        <div id="editorjs" class="max-w-full prose pt-10 "></div>
    </main>
    


    <script type="module" src="/js/edit.bundle.js"></script>

</body>
</html>